{% extends 'master.html' %}

{% block 'main' %}
  {% if msg %}
    <h1>{{ msg }}</h1>
  {% endif %}
  <h1 class="text-primary">Welcome to the login page</h1>
  <form class="mt-5 bg-danger p-5" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="uname">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="upassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
